<!--
Ecology workshop

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->

<div class="row">
  <div class="col-md-6">
    <h3>Timetable</h3>
    <table class="table table-striped">
      <tr> <td>09:30 - 10:30 </td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data</a></td> </tr>
      <tr> <td>10:30 - 10:45</td>  <td>Morning break for 15 minutes</td> </tr>
      <tr> <td>10:45 - 12:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating data frames</a></td> </tr>
      <tr> <td>12:00 - 12:30</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Introduction to vizualisation</a></td> </tr>
   </table>
  </div>
   <div class="col-md-6">
    <h3>Additional work</h3>
     <table class="table table-striped">
      <tr> <td><a href="http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html">Creating functions</a></td> </tr>
      <tr> <td><a href="http://swcarpentry.github.io/r-novice-inflammation/15-supp-loops-in-depth/index.html">Loops in R</a></td> </tr>
      <tr> <td><a href="http://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R/index.html">Writing Reproducible R</a></td> </tr>
      <tr> <td><a href="https://r4ds.had.co.nz/model-intro.html">Introduction to Models in R</a></td> </tr>
    </table>
  </div>
</div>
